.advantage-card {
  flex-grow: 1;
  min-height: 167px;

  font-size: 14px;
  line-height: 21px;
  color: $gray;

  background-color: $lightgray;

  @media (min-width: $tablet-width) {
    width: 256px;
  }

  &--extended {
    min-height: 451px;

    color: $white;

    background-color: $blue;

    @media (min-width: $tablet-width) {
      display: flex;
      width: $tablet-width;
      min-height: 256px;
    }

    @media (min-width: $desktop-width) {
      width: 1200px;
    }
  }

  &--extended &__title {
    color: inherit;
  }

  &--extended &__content {
    min-height: 191px;
  }
}

.advantage-card__content {
  @media (min-width: $tablet-width) {
    width: 256px;
    height: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.advantage-card__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $black;
}

.advantage-card__picture {
  flex-grow: 1;
  width: 320px;
  height: 260px;
}
