.advantage {
  background-color: $white;
}

.advantage__intro {
  min-height: 223px;

  @media (min-width: $tablet-width) {
    min-height: 206px;
  }
}

.advantage__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $black;

  background-color: $white;
}

.advantage__text {
  font-size: 14px;
  line-height: 26px;
}

.advantage__list {
  display: flex;
  flex-direction: column;
  min-height: 1840px;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    min-height: 1098px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.advantage__item {
  display: flex;
  flex-grow: 1;
  order: 2;

  &:first-child {
    order: 0;
  }

  &:nth-child(-n+2) {
    width: 100%;
  }

  &--sub {
    order: 1;
  }
}
