.advantage-card {
  min-height: 167px;

  font-size: 14px;
  line-height: 21px;
  color: $gray;

  background-color: $lightgray;

  &--extended {
    min-height: 451px;

    color: $white;

    background-color: $blue;

    .advantage-card__content {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .advantage-card__title {
      color: inherit;
    }
  }
}

.advantage-card__content {
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.advantage-card__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $black;
}

.advantage-card__picture {
  display: inline-block;
  width: 320px;
  height: 260px;

  vertical-align: top;
}
