.content {
  display: block;

  background-color: $content-main-color;

  &--main {
    padding-top: 389px;

    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/text-sedona-index.svg"), url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center 362px, center 90px, center top;
    background-size: auto 27px, 282px auto, 768px 388px;
  }

  &--inner {
    padding-top: 158px;

    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/text-sedona.svg"), url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center 101px, center 52px, center -231px;
    background-size: 1202px 57px, 229px auto, 768px 388px;
  }

  @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
    &--main {
      background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/text-sedona-index.svg"), url("../img/bg-back-mobile@2x.jpg");
    }

    &--inner {
      background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/text-sedona.svg"), url("../img/bg-back-mobile@2x.jpg");
    }
  }

  @media (min-width: $tablet-width) {
    &--main {
      padding-top: 518px;

      background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/text-sedona-index.svg"), url("../img/bg-back-tablet@1x.jpg");
      background-repeat: no-repeat, no-repeat, no-repeat;
      background-position: center 461px, center 77px, center top;
      background-size: 1200px auto, 460px auto, 768px 518px;
    }

    &--inner {
      padding-top: 290px;

      background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/text-sedona.svg"), url("../img/bg-back-tablet@1x.jpg");
      background-repeat: no-repeat, no-repeat, no-repeat;
      background-position: center 233px, center 94px, center -228px;
      background-size: 1202px 57px, 458px auto, 768px 518px;
    }

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
      &--main {
        background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/text-sedona-index.svg"), url("../img/bg-back-tablet@2x.jpg");
      }

      &--inner {
        background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/text-sedona.svg"), url("../img/bg-back-tablet@2x.jpg");
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin: 0 auto;

    &--main {
      padding-top: 518px;

      background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/text-sedona-index.svg"), url("../img/bg-back-desktop@1x.jpg");
      background-repeat: no-repeat, no-repeat, no-repeat;
      background-position: center 461px, center 77px, center top;
      background-size: 1200px auto, 460px auto, 1200px 518px;
    }

    &--inner {
      padding-top: 300px;

      background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/text-sedona.svg"), url("../img/bg-back-desktop@1x.jpg");
      background-repeat: no-repeat, no-repeat, no-repeat;
      background-position: center 243px, center 102px, center -218px;
      background-size: 1202px 57px, 458px auto, 1200px 518px;
    }

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
      &--main {
        background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/text-sedona-index.svg"), url("../img/bg-back-desktop@2x.jpg");
      }

      &--inner {
        background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/text-sedona.svg"), url("../img/bg-back-desktop@2x.jpg");
      }
    }
  }
}
