.feedback {
  text-align: center;
  color: $gray;

  background-color: $white;

  @media (min-width: $tablet-width) {
    padding-right: 60px;
    padding-bottom: 20px;
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 120px;
    padding-bottom: 25px;
    padding-left: 120px;
  }
}

.feedback__intro {
  padding-top: 37px;
  padding-right: 20px;
  padding-bottom: 17px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 74px;
    padding-right: 80px;
    padding-bottom: 69px;
    padding-left: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 112px;
    padding-right: 250px;
    padding-bottom: 53px;
    padding-left: 250px;
  }
}

.feedback__form {
  border-top: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;

    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    margin: 0 auto;
  }
}

.feedback__title {
  margin: 0;
  margin-bottom: 26px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;

    font-size: 30px;
  }
}

.feedback__text {
  margin: 0;
}

.feedback__group {
  border-bottom: 1px solid $border-color;

  &--info {
    padding-bottom: 5px;
  }

  &--contacts {
    padding-bottom: 17px;
  }

  &--rating {
    padding-bottom: 29px;
  }

  &--place {
    padding-bottom: 26px;
  }

  &--message {
    padding-bottom: 44px;

    border: none;
  }

  @media (min-width: $tablet-width) {
    order: 1;
    width: 100%;
    margin-bottom: 27px;

    text-align: center;

    border-bottom: none;

    &--contacts {
      margin-bottom: 13px;
      padding: 0;
    }

    &--rating {
      order: 0;
      width: 275px;
      margin-top: -11px;
      padding-right: 48px;
      padding-bottom: 0;
      padding-left: 0;

      text-align: left;

      border-right: 1px solid $border-color;
    }

    &--info {
      box-sizing: border-box;
      width: 324px;
      margin-top: -11px;
      padding-right: 0;
      padding-left: 58px;

      text-align: left;
    }

    &--place {
      margin-bottom: 21px;
      padding: 0;
    }

    &--message {
      margin-bottom: 51px;
      padding: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &--info {
      width: 479px;
      padding-left: 79px;
    }

    &--contacts {
      margin-bottom: 11px;
    }

    &--rating {
      width: 429px;
      padding-right: 47px;
      padding-left: 4px;
    }

    &--message {
      margin-bottom: 52px;
    }

    &--place {
      margin-bottom: 17px;
    }
  }
}

.feedback__submit {
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    order: 1;
    width: 100%;
    padding: 0;
  }
}

.feedback__submit-button {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: auto;
    min-width: 324px;
    margin-right: auto;
    padding-left: 7px;
  }

  @media (min-width: $desktop-width) {
    width: 480px;
    padding-left: 17px;
  }
}

.feedback__required-input {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;

    vertical-align: top;
  }
}
