.footer {
  min-height: 243px;

  font-size: 14px;
  line-height: 26px;
  color: $black;

  background-color: $white;

  @media (min-width: $tablet-width) {
    min-height: 120px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin: 0 auto;
  }

  &--inner {
    min-height: 233px;

    @media (min-width: $tablet-width) {
      min-height: 120px;
    }

    @media (min-width: $desktop-width) {
      width: 1200px;
    }
  }
}

.footer__hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
