.page {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: $gray;
  font-style: normal;
  text-transform: uppercase;

  background-color: $white;
}
