.photo {
  background-color: $white;
}

.photo__intro {
  padding-top: 37px;
  padding-right: 20px;
  padding-bottom: 26px;
  padding-left: 20px;

  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 74px;
    padding-right: 169px;
    padding-bottom: 69px;
    padding-left: 169px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 112px;
    padding-right: 379px;
    padding-bottom: 71px;
    padding-left: 379px;
  }
}

.photo__title {
  margin: 0;
  margin-bottom: 26px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $black;

  background-color: $white;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;

    font-size: 30px;
  }
}

.photo__text {
  margin: 0;
}

.photo__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-right: 60px;
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.photo__item {
  padding: 20px;
  padding-top: 22px;
  padding-bottom: 16px;

  border-bottom: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    padding: 0;

    border: none;
  }

  &:first-child {
    padding-top: 23px;

    border-top: 1px solid $border-color;

    @media (min-width: $tablet-width) {
      width: 100%;
      padding-top: 0;

      border: none;
    }
  }

  &:last-child {
    flex-grow: 0;
  }
}
