.photo-card {
  font-weight: bold;
  color: $black;

  background-color: $white;

  @media (min-width: $tablet-width) {
    flex-grow: 1;

    &--first .photo-card__preview {
      width: 648px;
      height: 400px;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 267px;

    &--first .photo-card__preview {
      width: 1200px;
    }
  }
}

.photo-card__preview {
  display: block;
  width: 280px;
  height: 280px;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 267px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    height: 267px;
  }
}

.photo-card__content {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding-top: 16px;
    padding-right: 21px;
    padding-bottom: 16px;
    padding-left: 20px;

    background-color: $input-color;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 1;

    margin-top: -80px;

    background-color: rgba($black, 0.3);
  }
}

.photo-card__desc {
  padding-top: 16px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.photo-card__title {
  margin: 0;

  font-size: 14px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.photo-card__author {
  display: inline-block;
  margin-bottom: 5px;

  font-weight: normal;
  vertical-align: top;
  color: $gray;
  text-transform: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    color: $white;
  }
}
