body {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: $gray;
  text-transform: uppercase;
  font-style: normal;

  background-color: $white;

  font-kerning: none;
}

img {
  max-width: 100%;
  height: auto;
}
