.sub-advantage {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;

  list-style: none;
}

.sub-advantage__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $black;
}
