.sub-advantage {
  flex-grow: 1;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.sub-advantage__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $black;
}

.sub-advantage__item {
  min-height: 138px;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    width: 256px;
    min-height: 330px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}
